[Desktop Entry]
Type=Application
Name=Minecraft
Icon=minecraft
Categories=Game;Minecraft;
Exec=tlauncher
Comment=The Launcher for Minecraft
StartupWMClass=minecraft
