[Desktop Entry]
Type=Application
Name=TLauncher
Icon=tlauncher
Categories=Game;Minecraft;
Exec=tlauncher
Comment=The Launcher for Minecraft
StartupWMClass=org-tlauncher-tlauncher-rmo-TLauncher
